.box {
    height: 300px;
    background-color: white;
    color: black;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .45);
    font-size: x-large;
    width: 300px;
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.loginInput {
    width: 200px;
    margin: 15px;
    height: 25px;
}