.tripContainer {
    display: flex;
    justify-content: center;
}

.tripBox {
    height: 500px;
    width: 500px;
    background-color: aqua;
    border-radius: 25px;
}

.trip {
    height: 50px;
    box-sizing: border-box;
    margin: 3px;
    border: 1px solid;
}