@font-face {
    font-family: 'Anton';
    src: url(../Anton-Regular.ttf)
}

.tripContainer {
    display: flex;
    height: 100%;
    width: 100vw;
    align-items: center;
    flex-direction: column;
    background-image: url('../photos/My project.jpg');
    /* image-rendering: -webkit-optimize-contrast; */
    background-repeat: none;
    background-size: cover;
}

.createTripContainer {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    flex-direction: column;
    background-image: url('../photos/My project.jpg');
    background-repeat: none;
    background-size: cover;
    padding-top: 100px;
}

.backWrapper {
    display: flex;
    width: 630px;
    justify-content: flex-start;
}

.bigTags {
    font-size: 65px;
}

.wholeScreen {
    display: flex;
    height: 100vh;
    background-image: url('../photos/My project.jpg');
}

.title {
    font-size: 50px;
    text-decoration: underline;
    margin: 30px;
    font-family: Anton;
    font-weight: 250;
    letter-spacing: 8px;
}

.headerButtonContainer {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    width: 400px;
    justify-content: space-between;
}

.home {
    margin: 10px;
    font-size: large;
    font-weight: bold;
    margin-left: 20px;
}

input {
    padding: 12px;
    margin: 20px;
    border-radius: 10px;
    width: 600px;
    height: 30px;
}

button {
    border-radius: 3px;
    font-size: 0.9rem;
    background: #4c5fd5;
    color: white;
    border: solid 1px black;
    text-shadow: 0 1px 0 gray;
}

.back {
    border-radius: 3px;
    font-size: 0.9rem;
    background: none;
    color: black;
    border: none;
    text-shadow: 0 1px 0 gray;
}

.tripDate {
    width: 150px;
    box-sizing: border-box;
    margin-top: 10px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #bec7c9;
    border-radius: 8px;
    font-family: "Anton";
    font-weight: bold;
}

.tripLocation {
    height: 45px;
    width: 250px;
    box-sizing: border-box;
    margin-top: 10px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background-color: #8b9da3;
    font-size: larger;
    font-family: "Anton";
    font-weight: bolder;
}

.tripBox {
    display: flex;
}

.showTripContainer {
    width: 1000px;
}