.mainInput {
    width: 1000px;
}

.profileToggleContainer {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    color: aliceblue;
}

.profileToggleBox {
    background-color: black;
    width: 85px;
    padding-left: 10px;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainBox {
    background-image: url("../china-wall.jpg");
    width: 95vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border-style: solid;
    border: 1px black;
    margin: 20px;
}

.bottomContainer {
    width: 1400px;
    background-color: black;
    height: 200px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: x-large;
    font-family: inherit;
    margin: 20px;
    border-radius: 25px;
}